@using Ciber.core

@model List<Maquina>

@{
    ViewData["Title"] = "Lista de Máquinas";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nmaquina</th>
            <th>Características</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var maquina in Model)
        {
            <tr>
                <td>@maquina.Nmaquina</td>
                <td>@maquina.Caracteristicas</td>
                <td>
                    @(maquina.Estado ? "Disponible" : "No Disponible")
                </td>
            </tr>
        }
    </tbody>
</table>
