@model Ciber.core.Cuenta

<h2>Detalle Cuenta</h2>

<p><strong>Nombre:</strong> @Model.Nombre</p>
<p><strong>Saldo:</strong> $@Model.Saldo</p>

@if (User.IsInRole("ADMIN_FINANZAS"))
{
    <a asp-action="Recargar" asp-route-id="@Model.Ncuenta"
       class="btn btn-success">
        💰 Recargar saldo
    </a>
}

@if (User.IsInRole("ADMIN_GENERAL"))
{
    <a asp-action="Edit" asp-route-id="@Model.Ncuenta"
       class="btn btn-warning">
        Editar
    </a>

    <a asp-action="Delete" asp-route-id="@Model.Ncuenta"
       class="btn btn-danger">
        Eliminar
    </a>
}

<a asp-action="Index" class="btn btn-secondary">
    Volver
</a>
