<h2>Iniciar sesión</h2>

<form method="post">
    <label>DNI</label>
    <input type="text" name="dni" class="form-control" required />

    <label>Contraseña</label>
    <input type="password" name="password" class="form-control" required />

    <button class="btn btn-primary mt-2">Ingresar</button>

    <p style="color:red">@ViewBag.Error</p>
</form>
