@model Ciber.MVC.Models.Cliente

<form asp-action="Crear" method="post">
    <label>N° Cuenta:</label>
    <input asp-for="Ncuenta" />
    <label>Nombre Completo:</label>
    <input asp-for="NombreCompleto" />
    <label>Contraseña:</label>
    <input asp-for="Contrasena" type="password"/>
    <label>DNI:</label>
    <input asp-for="Dni" />
    <button type="submit">Crear</button>
</form>
