@model IEnumerable<Ciber.MVC.Models.Cliente>

<h2>Clientes</h2>

<table>
    <thead>
        <tr>
            <th>N° Cuenta</th>
            <th>Nombre</th>
            <th>DNI</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Ncuenta</td>
                <td>@c.NombreCompleto</td>
                <td>@c.Dni</td>
            </tr>
        }
    </tbody>
</table>
