@model Ciber.MVC.Models.Equipo

<h2>Crear Equipo</h2>

<form asp-action="Crear" method="post">
    <label>N° Máquina:</label>
    <input asp-for="Nmaquina" />

    <label>Nombre:</label>
    <input asp-for="Nombre" />

    <label>Tipo de Equipo:</label>
    <input asp-for="TipoEquipo" />

    <label>Estado:</label>
    <select asp-for="Estado">
        <option value="true">Activo</option>
        <option value="false">Inactivo</option>
    </select>

    <button type="submit">Crear</button>
</form>
