@model IEnumerable<Ciber.MVC.Models.Equipo>

<h2>Equipos</h2>

<table>
    <thead>
        <tr>
            <th>N° Máquina</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Nmaquina</td>
                <td>@e.Nombre</td>
                <td>@e.TipoEquipo</td>
                <td>@(e.Estado ? "Activo" : "Inactivo")</td>
            </tr>
        }
    </tbody>
</table>
